.select-menu option{
    color: black;
    background-color: rgb(56, 52, 52);
}

#settings-btn:hover{
    background-color: black;
}

#reset__button{
    background-color: transparent;
    border: 0.1px solid rgb(206, 205, 205);
}

#reset__button:hover{
    background-color: black;
    border: 0.1px solid rgb(197, 197, 197);
}

#play__button{
    background-color: transparent;
    border: 0.1px solid rgb(206, 205, 205);
}

#play__button:hover{
    background-color: black;
    border: 0.1px solid rgb(197, 197, 197);
}